* {
    margin: 0;
    padding: 0;
}

body{
    display: grid;
    grid-template-columns: 1fr 6fr;
    grid-template-rows: 1fr 6fr;
    height: 100vh;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.dashboard{
    background-color: rgb(0, 142, 189);
    color: white;
    grid-row: 1 / 3;
    grid-column: 1 / 1;
    padding-top: 1rem;
    justify-items: start;
}
.dashboard-inner{
    display: grid;
    gap: 25px;
}
button{
    border: none;
    background: none;
    color: white;
    font-size: 20px;
    font-weight: bold;
}
.dashboard button:hover{
    color: black;
}

.icon{
    display: grid;
    align-items: center;
    grid-auto-flow: column;
    gap: 1rem;
    padding: 1rem;
}

.header{
    display: grid;
    grid-template-rows: 1fr 2fr;
    box-shadow: 5px 5px 10px rgba(161, 161, 161, 0.5);
    padding-top: 1rem;
}
.search-bar{
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
}
.search{
    display: grid;
    align-items: center;
    grid-template-columns: auto 1fr;
    padding: 1rem 3rem;
}
.notification{
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    font-weight: bold;
}
#search-bar{
    background-color: rgb(235, 235, 235);
    border: none;
    border-radius: 1rem;
    width: 100%;
    height: 2rem;
    margin-left: 1rem;
    font-size: 20px;
    padding-left: 1rem;
}
.greeting{
    display: grid;
    grid-template-columns: 1fr auto;
}
.user-greeting{
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    grid-template-columns: auto 1fr;
    padding-left: 2rem;
    gap: 15px;
}
.greeting-buttons{
    display: grid;
    grid-auto-flow: column;
    justify-items: center;
    align-items: center;
    gap: 30px;
    padding-right: 5rem;
}
.greeting-buttons button{
    background-color: rgb(0, 142, 189);
    width: 8rem;
    height: 2.5rem;
    border-radius: 1.5rem;
    font-size: 16px;
}

.pfp img{
    width: 4rem;
    border-radius: 50%;
    aspect-ratio: 1/1;
}


.main-content{
    display: grid;
    grid-template-columns: 3fr 1fr;
    background-color: rgb(235, 235, 235);
    padding: 2rem 1rem;
}
.projects{
    grid-row: 1 / 3;
    display: grid;
    grid-template-rows: auto 1fr;
    
}
.cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
    /* align-items: center; */
    padding: 1rem 0rem;
}
.card{
    background-color: white;
    /* height: ; */
    border-radius: 5%;
    display: grid;
    grid-template-rows: 1fr auto;
    padding: 1rem;
}
.card-icons{
    text-align: end;
}
.card-icons svg:not(:last-child){
    margin-right: 2rem;
}