* {
    margin: 0;
    padding: 0;
}

body{
    display: grid;
    grid-template-columns: 1fr 6fr;
    grid-template-rows: 1fr 6fr;
    height: 100vh;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.dashboard{
    background-color: rgb(0, 142, 189);
    color: white;
    grid-row: 1 / 3;
    grid-column: 1 / 1;
    padding-top: 1rem;
    justify-items: start;
}
.dashboard-inner{
    display: grid;
    gap: 25px;
}
button{
    border: none;
    background: none;
    color: white;
    font-size: 20px;
    font-weight: bold;
}
.dashboard button:hover{
    color: black;
}

.icon{
    display: grid;
    align-items: center;
    grid-auto-flow: column;
    gap: 1rem;
    padding: 1rem;
}

.header{
    display: grid;
    grid-template-rows: 1fr 2fr;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    padding-top: 1rem;
}
.search-bar{
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
}
.search{
    display: grid;
    align-items: center;
    grid-template-columns: auto 1fr;
    padding: 1rem 3rem;
}
.notification{
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    font-weight: bold;
}
#search-bar{
    background-color: lightgray;
    border: none;
    border-radius: 1rem;
    width: 100%;
    height: 2rem;
    margin-left: 1rem;
}


.pfp img{
    width: 4rem;
    border-radius: 50%;
    aspect-ratio: 1/1;
}


/* .main-content{

} */