* {
    margin: 0;
    padding: 0;
}

body{
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 6fr;
    height: 100vh;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.dashboard{
    background-color: blue;
    color: white;
    grid-row: 1 / 3;
    grid-column: 1 / 1;
    text-align: center;
    padding-top: 1rem;
}
.nav, .settings{
    display: grid;
    gap: 25px;
    margin-top: 5rem;
    margin-bottom: 5rem;
    padding-left: 5rem;
}
.dashboard button{
    border: none;
    background: none;
    color: white;
    font-size: 26px;
    font-weight: bold;
    text-align: left;
}
.dashboard button:hover {
    color:black
}


/* .header{
    
}

.main-content{

} */