* {
    margin: 0;
    padding: 0;
}

body{
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 6fr;
    height: 100vh;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.dashboard{
    background-color: rgb(0, 142, 189);
    color: white;
    grid-row: 1 / 3;
    grid-column: 1 / 1;
    padding-top: 1rem;
    justify-items: center;
}
.nav, .settings{
    display: grid;
    gap: 25px;
    padding-top: 3rem;
    width: 10rem;
}
.dashboard button{
    border: none;
    background: none;
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-align: left
}
.dashboard button:hover {
    color:black
}


.header{
    display: grid;
    grid-template-rows: 1fr 1fr;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}
.search-bar{
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
}
.search{
    display: grid;
    grid-template-columns: 1fr 20fr;
    padding: 1rem;
}
.notification{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
}
#search-bar{
    background-color: lightgray;
    border: none;
    border-radius: 1rem;
    width: 100%;
    height: 2rem;
}
.icon{
    width: 2rem;
}

.pfp img{
    width: 4rem;
    border-radius: 50%;
    aspect-ratio: 1/1;
}


/* .main-content{

} */